---
const response = await fetch(import.meta.env.ESPRESSO_URI, {
  headers: {
    "CF-Access-Client-Id": import.meta.env.ESPRESSO_CLIENT_ID,
    "CF-Access-Client-Secret": import.meta.env.ESPRESSO_CLIENT_SECRET,
  },
});

const data = await response.json();
---

<html>
  <body>
    <pre>{JSON.stringify(data, null, 2)}</pre>
  </body>
</html>
